*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    gap: 20px;
    display: flex;
    flex-direction: column;

}

#pseudo, #pwd, #submit {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

#submit {
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

.user {
    margin-top: 20px;
}

.alert-danger {
    color: red;
    background-color: #f8d7da;
    padding: 10px;
    border-radius: 5px;
}
.alert-success {
    color: green;
    background-color: #d4edda;
    padding: 10px;
    border-radius: 5px;
}

